{{ define "main" }}

<section class="blog-single section">
    <div class="mt-5 pt-5">
        <div class="container mt-5 pt-5 text-center title">
            <h1 class="display-5">{{ .Title }}</h1>
            <div class="border"></div>
            <p>{{ .Params.subTitle }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class='px-3 mb-5'>
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}