{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.pricing }}
{{ if .enable }}
{{ "<!-- Start Pricing section -->" | safeHTML }}
<section class="pricing-table section" style="overflow: hidden" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center our-testimonials">
            {{ range .item }}
            {{ "<!-- single pricing table -->" | safeHTML }}
            <div class="col-12">
                <div class="pricing-item">
                    {{ "<!-- plan name & value -->" | safeHTML }}
                    <div class="price-title bg-pricing px-4">
                        {{ with .description }}<blockquote>{{.}}</blockquote>{{ end }}
                        {{ with .name }}<h3>{{.}}</h3>{{ end }}
                    </div>
                    {{ "<!-- plan description -->" | safeHTML }}
                    <!-- <ul>
                            {{ range .featurelist }}
                            <li>{{.item}}</li>
                            {{ end }}
                        </ul> -->
                    <!-- {{ "signup button" | safeHTML }} -->
                    <!-- <a class="btn btn-main" href="{{.btnURL}}">{{.btnText}}</a> -->
                </div>
            </div>
            {{ end }}
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}
{{ end }}