{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.slides}}

{{ if .enable }}
{{ "<!-- Slider section --> " | safeHTML }}

<section id='header'>
  <div class='row'>
    <div class="index-bg-img" id='header-bg-animation'>
      <div class="container h-100 mt-lg-5 pt-lg-5">
        <div class="row justify-content-center align-items-center text-white mt-lg-5 pt-lg-5 text-dark">
          <div class="text-center col-12 align-self-center mt-5 pt-lg-5">

            <h1 class="display-1 d-none d-lg-inline mt-5">Ние сме <strong>Marketiz Me</strong></h1>
            <h1 class="display-lg-1 d-inline d-lg-none mt-5">Ние сме <strong>Marketiz Me</strong></h1>
            <h2>All in one digital agency</h2>
            <br />
            <h6 class="mt-4 text-center mt-5">Marketiz Me предлага 360&#176; дигитални маркетинг услуги,
              <br />които създават идентичност,изграждат марки, стимулират
              <br />взаимодейстивието и получаването на резултати
            </h6>
            <a class="btn btn-lime btn-lg mt-5" href='service'>ВИЖТЕ ОЩЕ</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}
{{ end }}