{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.testimonial }}
{{ if .enable }}
<section class="testimonial section" id="testimonial">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center client-section">
                    {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .title }}
                    <h2>{{.}}</h2>
                    {{/*  <span class="border"></span>  */}}
                    {{ end }}
                    {{ with .subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>

        <div class="row">
            {{ "<!-- testimonial wrapper -->" | safeHTML }}
            {{ range .item }}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {{ "<!-- testimonial single -->" | safeHTML }}
                <a href="{{ .link }}" target="_blank">
                    <div class="item text-center">
                        {{ "<!-- client photo -->" | safeHTML }}
                        <div class="client-thumb">
                            <img src="{{ .clientThumb | absURL }}" class="img-fluid" style="height: 200px; width: auto;"
                                alt="client-image">
                        </div>
                        <div class="client-meta">
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- End Section -->" | safeHTML }}
{{ end }}
{{ end }}